/* adapted from http://maxwells.github.io/bootstrap-tags.html */
.badge {
    font-size: 14px;
    padding: .3em .4em .4em;
    margin: 0 .1em;
  }
  .badge a {
    color: #bbb;
    cursor: pointer;
    opacity: 0.6;
  }
  .badge a:hover {
    opacity: 1.0
  }
  .badge .remove {
    vertical-align: bottom;
    top: 0;
  }
  .badge a {
    margin: 0 0 0 .3em;
  }

  .badge span {
    margin-right: 2px;
  }

  .badge a svg {
    color: #fff;
    margin-right: 4px;
  }

  .badge-primary {
    background-color: #9c80ad !important;
  }