.App {
  text-align: center;
}

body {
  background-color: #433b49;;

}

.btn-primary {
  background-color: #ff9900;
  border-color: #e48900;
}

.btn-primary:hover {
  background-color: #ff7600;
  border-color: #d26100;
}

.btn-secondary {
  background-color: #846e92;
  border-color: #685673;
}

.btn-secondary:hover {
  background-color: #7d5e90;
  border-color: #4f3b5a;
}

hr {
  border-top: 2px solid #f90;
}

.error-field {
  border: 3px solid #fd808b;
  border-radius: 5px;
}

.btn-small-submit {
  width: 130px;
}

.pannel-wrapper {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 44px;
  margin-top: 5%;
  background-color: #c4c3c4;
  text-align: right;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar-light .navbar-nav .nav-link, .prifile-text {
  color: #9c81ad;
  font-weight: 900;
}

.navbar-light .navbar-brand {
  color: #9c81ad;
  font-weight: 400;
  font-size: 17px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
